.page-container{
  max-width: 850px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.box-border{
  background-image: url(src/assets/images/bjp-watermark.png);
  border-top: 10px solid #ff8000;
  border-bottom: 10px solid green;
  border-left: 10px solid #ff8000;
  border-right: 10px solid #ff8000;
  background-position: center;
  background-repeat: no-repeat;
}
.bjp-new-logo{
  width: 100px;
  position: absolute;
  right: 0;
  top: 0rem;
}
