<div class="container-fluid">
  <app-filter-search [query]="query" (applyFilter)="setFilters($event)"></app-filter-search>
  <ng-container *ngIf="(modeOfPayments) === null">
    Loading tabs...
  </ng-container>

  <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabChange($event)">
    <mat-tab *ngFor="let tab of modeOfPayments; index as i">
      <ng-template mat-tab-label>
        <span matBadge="{{counting[i] > 0 ? counting[i] : ''}}" matBadgeSize="small"
              matBadgePosition="above after"
              matBadgeColor="warn" [matBadgeOverlap]="false">
          {{tab.name}}
        </span>
      </ng-template>
      <div class="table-container">
        <app-entry-list-table [paymentModeId]="tab.id" [filters]="filters"  (updateList)="updateList($event)"></app-entry-list-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
