<div class="container-fluid">
  <app-filter-search [query]="query" (applyFilter)="setFilters($event)" (showLoader)="toggleLoader($event)"></app-filter-search>
  <ng-container *ngIf="(modeOfPayments) === null">
    Loading tabs...
  </ng-container>

  <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabChange($event)">
    <mat-tab *ngFor="let tab of modeOfPayments; index as i">
      <ng-template mat-tab-label>
<!--        matBadge="{{counting[i] > 0 ? counting[i] : ''}}" matBadgeSize="small"-->
<!--        matBadgePosition="above after"-->
<!--        matBadgeColor="warn" [matBadgeOverlap]="false"-->
        <div>
          <div class="tab-text">{{tab.name}}</div>
            <div class="tab-text">({{counting[i] > 0 ? counting[i] : '--'}})</div>
        </div>
      </ng-template>
      <div class="table-container">
        <app-entry-list-table [paymentModeId]="tab.id" [filters]="filters"  (updateList)="updateList($event)"
                              [fetchWithFilters]="transactionsSubject.asObservable()" [showLoader]="showLoader"></app-entry-list-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
