::ng-deep .mat-form-field-flex.ng-tns-c78-1{
  background-color: #fff;
}
::ng-deep .mat-tab-body-content {
  overflow: hidden!important;
}
.filter-btn {
  margin-left: 1rem;
}

.entry-list-table mat-cell{
  border: 1px solid #e0e0e0;
  color: black !important;
  font-size: 13px !important;
  text-align: center;
}
.mat-column-sno {
  flex: 0 0 65px;
}
.mat-column-receipt-print{
  flex: 0 0 100px;
}
.mat-column-amount{
  flex: 0 0 150px;
}
.mat-column-category{
  flex: 0 0 150px;
}

.entry-list-table mat-row, mat-header-row, mat-footer-row {
  border: 1px solid #e0e0e0;
}
.entry-list-table .mat-row, mat-header-row, mat-footer-row {
  align-items: unset!important;
}

.entry-list-table mat-row {
  border-width: 1px !important;
  border-top-width: 0 !important;
}
.date-filter{
  margin-top: -3rem;
}
.mat-raised-button{
  padding: 0!important;
}
.info-badge{
  height: 23px;
  line-height: 17px;
  border-radius: 16px;
  font-size: 16px;
  min-width: 50%;
}
.action-btn .mat-icon-button{
  width: unset!important;
}
@media (min-width: 780px) and (max-width: 1366px) {
  .action-btn .info-badge {
    height: 19px;
    line-height: 14px;
    border-radius: 10px;
    font-size: 16px;
    min-width: 50%;
  }
  .action-btn .material-icons{
    font-size: 20px;
  }
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 0px;
}
.cursor-pointer{
  cursor: pointer;
}
