::ng-deep .mat-form-field-flex.ng-tns-c78-1 {
  background-color: #fff;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.filter-btn {
  margin-left: 1rem;
}

.entry-list-table mat-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  color: black !important;
  font-size: 13px !important;
  text-align: center;
}



.mat-column-sno {
  flex: 0 0 65px;
}

/*.mat-column-receipt-print {*/
/*  flex: 0 0 100px;*/
/*}*/

/*.mat-column-amount {*/
/*  flex: 0 0 150px;*/
/*}*/
/*.mat-column-date {*/
/*  flex: 0 0 150px;*/
/*}*/

/*.mat-column-category {*/
/*  flex: 0 0 150px;*/
/*}*/

.entry-list-table mat-row, mat-header-row, mat-footer-row {
 border: 1px solid rgba(0, 0, 0, 0.4);
}

::ng-deep.mat-header-cell:nth-child(even){
  background: #E4E4E4;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

::ng-deep.mat-header-cell:nth-child(odd){
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  background-color: rgba(217, 217, 217, 0.2);
}

.icon-resize{
  width:20px;
  height: 20px;
}

.img-resize{
  width: 15px;
  height: 15px;
}
.img-resize-font{
  width: 20px;
  height: 20px;
}

.mat-icon-resize{
  width: 40px;
  height: 40px;
  padding: 0 20px 0 2px;
}

::ng-deep.mat-cell:last-of-type{
  padding-right: 0px!important;
}

.btn-background{
  background: #F68E00!important;
  border-radius: 5px;
  border: none;
  width: 60px;
  height: 25px;
  color: #ffffff !important;
  border-radius: 5px;
}

.btn-background-reciept{
  background: #1A7DDF;
  border-radius: 5px;
  border: none;
  width: 40px;
  height: 25px;
}

::ng-deep.mat-paginator-range-label{
  color:#1A7DDF;
}

.entry-list-table {
  width: 2000px;
}

.btn-separate{
  justify-content: space-evenly;
}
::ng-deep.mat-menu-item{
  color:#155686!important;
}

.reciept-reason{
  cursor: pointer;
  background: #7e7f80;
  color: #ffffff;
  width: 50%;
  border-radius: 5px;
}

.btn-send{
  border: none;
  width: 45px;
  height: 25px;
  color: #ffffff !important;
  border-radius: 5px;
  background: #007bff !important;
}

::ng-deep.mat-menu-item .mat-icon-no-color {
  color: #155686 !important;
}

::ng-deep.mat-header-cell:last-of-type {
  padding-right: 0px !important;
}

.entry-list-table .mat-row, mat-header-row, mat-footer-row {
  align-items: unset !important;
}

.entry-list-table mat-row {
  border-width: 1px !important;
  border-top-width: 0 !important;
}

.date-filter {
  margin-top: -3rem;
}

.mat-raised-button {
  padding: 0 !important;
}

.info-badge {
  height: 23px;
  line-height: 17px;
  border-radius: 16px;
  font-size: 16px;
  min-width: 50%;
}

.action-btn .mat-icon-button {
  width: unset !important;
}

@media (min-width: 780px) and (max-width: 1366px) {
  .action-btn .info-badge {
    height: 19px;
    line-height: 14px;
    border-radius: 10px;
    font-size: 16px;
    min-width: 50%;
  }

  .action-btn .material-icons {
    font-size: 20px;
  }
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 0px;
}
