<div class="row">
  <div class="col-md-12 date-filter">
    <div class=" mt-4">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Name / Pan / Phone " (keyup.enter)="getPaymentList()" [(ngModel)]="query">
      </mat-form-field>
      <mat-form-field appearance="outline" class="ml-2">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [formControl]="startdate">
          <input matEndDate placeholder="End date" [formControl]="enddate" (dateChange)="getPaymentList()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
</div>

<ng-container *ngIf="paymentDetails.length > 0;else emptyList">
  <mat-table [dataSource]="paymentDetails" class="entry-list-table">
    <!-- Serial Number Column -->
    <ng-container matColumnDef="sno">
      <mat-header-cell *matHeaderCellDef> S. No.</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{utilService.formatDate(element.data.date)}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"><span>{{element.data.name}}</span></mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.data.category}} </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.data.amount}} </mat-cell>
    </ng-container>

    <!-- Mode Of Payment Column -->
    <ng-container matColumnDef="mode_of_payment">
      <mat-header-cell *matHeaderCellDef> Mode Of Payment</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mode_of_payment.name}} </mat-cell>
    </ng-container>

    <!-- Pan Card No. Column -->
    <ng-container matColumnDef="pan_card">
      <mat-header-cell *matHeaderCellDef> Pan Card No.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.data.pan_card}} </mat-cell>
    </ng-container>

    <!-- Pan Card No. Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <button mat-raised-button *ngIf="element.is_editable && allowedEdit(element.data.date)">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button mat-raised-button class="ml-4" [routerLink]="['transaction_view', element.id]">
            <mat-icon>remove_red_eye</mat-icon>
            View
          </button>
          <div class="ml-2 mt-2 display-grid">
            <p *ngIf="element.payment_realize_date">Cheque Realized on: <span>{{element.payment_realize_date | date: 'dd/MM/yyyy'}}</span></p>
            <p *ngIf="element.payment_remark">Remark: <span>{{element.payment_remark }}</span></p>
            <div
              *ngIf="element.mode_of_payment.name === 'Cheque' || element.mode_of_payment.name === 'Demand Draft'"
              class="display-grid">
              <mat-radio-button value="realized" *ngIf="!element.payment_realize_date" (click)="openChequeDialog('realized', element)">Realized
              </mat-radio-button>
            </div>
            <div *ngIf="element.mode_of_payment.name === 'Cheque' && !element.payment_realize_date" class="display-grid">
            <mat-radio-button value="bounced" *ngIf="!element.payment_remark"
                              (click)="openChequeDialog('bounced' , element)">Bounced
            </mat-radio-button>
            </div>
            <mat-radio-button value="reserved"  (click)="openChequeDialog('reserved', element)">Reversed
            </mat-radio-button>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="receipt-print">
      <mat-header-cell *matHeaderCellDef> Receipt Print</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon (click)="openDialog(element)"
                  *ngIf="element.payment_realize_date
                  || element.mode_of_payment.name === 'IMPS'
                  || element.mode_of_payment.name === 'NEFT'
                  || element.mode_of_payment.name === 'RTGS'
                  || element.mode_of_payment.name === 'UPI'
                  "
                  class="pointer"
                  matTooltip="Print Receipt">print
        </mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-container>
<ng-template #emptyList>
  <h3 class="text-center">No records found</h3>
</ng-template>
<div class="loader-container" *ngIf="showLoader">
  <mat-spinner color="warn"></mat-spinner>
</div>
