::ng-deep .mat-form-field-flex.ng-tns-c78-1 {
  background-color: #fff;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.filter-btn {
  margin-left: 1rem;
}

.entry-list-table mat-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  color: black !important;
  font-size: 13px !important;
  text-align: center;
}



.entry-list-table mat-row, mat-header-row, mat-footer-row {
 border: 1px solid rgba(0, 0, 0, 0.4);
}

::ng-deep.mat-header-cell:nth-child(even){
  background: #E4E4E4;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

::ng-deep.mat-header-cell:nth-child(odd){
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  background-color: rgba(217, 217, 217, 0.2);
}

.icon-resize{
  width:20px;
  height: 20px;
}

.img-resize{
  width: 15px;
  height: 15px;
}
.img-resize-font{
  width: 20px;
  height: 20px;
}

.mat-icon-resize{
  width: 40px;
  height: 40px;
  padding: 0 20px 0 2px;
}

::ng-deep.mat-cell:last-of-type{
  padding-right: 0px!important;
}

.btn-background{
  background: #F68E00!important;
  border-radius: 5px;
  border: none;
  width: 60px;
  height: 25px;
  color: #ffffff !important;
  border-radius: 5px;
}

.btn-background-reciept{
  background: #1A7DDF;
  border-radius: 5px;
  border: none;
  width: 40px;
  height: 25px;
}

::ng-deep.mat-paginator-range-label{
  color:#1A7DDF;
}

.entry-list-table {
  width: 100%;
}

.btn-separate{
  justify-content: space-evenly;
}
::ng-deep.mat-menu-item{
  color:#155686!important;
}

.reciept-reason{
  cursor: pointer;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

/*css for new icon of receipt-reason*/
.reciept-reason-background{
  background: #FFC107;
  width: 60px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 5px;

}
.btn-send{
  border: none;
  width: 60px;
  height: 25px;
  color: #ffffff !important;
  border-radius: 5px;
  background: #007bff !important;
}

::ng-deep.mat-menu-item .mat-icon-no-color {
  color: #155686 !important;
}

::ng-deep.mat-header-cell:last-of-type {
  padding-right: 0px !important;
}

.entry-list-table .mat-row, mat-header-row, mat-footer-row {
  align-items: unset !important;
}

.entry-list-table mat-row {
  border-width: 1px !important;
  border-top-width: 0 !important;
}

.date-filter {
  margin-top: -3rem;
}

.mat-raised-button {
  padding: 0 !important;
}

.info-badge {
  height: 23px;
  line-height: 17px;
  border-radius: 16px;
  font-size: 16px;
  min-width: 50%;
}

.action-btn .mat-icon-button {
  width: unset !important;
}

@media (min-width: 780px) and (max-width: 1366px) {
  .action-btn .info-badge {
    height: 19px;
    line-height: 14px;
    border-radius: 10px;
    font-size: 16px;
    min-width: 50%;
  }

  .action-btn .material-icons {
    font-size: 20px;
  }
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 0px;
}

.mat-column-sno {
  flex: 0 0 65px;
}
.shimmer-loading .ngx-shimmer {
  position: absolute !important;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 100% !important;
  height: 100% !important;

  animation-duration: 100s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}
.page-loader-1{
  width: 100%;
  height: 100%;
}
::ng-deep .ngx-shimmer {
  width: 100% !important;
  border-radius: 5px;
  height: 800px !important;
}

.shimmer{
  position: fixed;
  width: 100%;
  height: 72%;
  margin-top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Checkbox and modal css */
.mat-column-receipt_checkbox {
  flex: 0 0 65px;
}
.footer-block{
  display: flex;
  justify-content: space-between;
}

.box-margin {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 6px;
}

.bulk-print-btn{
  background: #50B955;
  color:#ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
  margin-top: auto;
  margin-left: 15px;
  height: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  top: 35%;
  position: relative;
  transition: all 5s ease-in-out;
}
.message-text {
  font-size: 18px;
  border-style: solid;
  border-width: 1px;
  border-color: lightslategray;
  margin: 8px 8px 10px 8px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
