<ng-container *ngIf="length > 0 ; else emptyList">
  <div class="table-responsive">
    <mat-table [dataSource]="paymentDetails" class="entry-list-table">
      <!-- Serial Number Column -->
      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef> S. No.</mat-header-cell>
        <mat-cell
          *matCellDef="let element; let i = index;"> {{ ((this.pageEvent.pageIndex ? this.pageEvent.pageIndex : 0) * this.pageSize) + i + 1}} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
          C: {{element.data.date | date: 'dd/MM/yyyy'}} <br>
          <ng-container *ngIf="(element.mode_of_payment.name === 'Cheque')">
            T: {{element.data.date_of_cheque | date: 'dd/MM/yyyy'}}
          </ng-container>
          <ng-container *ngIf="(element.mode_of_payment.name === 'Demand Draft')">
            T: {{element.data.date_of_draft | date: 'dd/MM/yyyy'}}
          </ng-container>
          <ng-container *ngIf="(element.mode_of_payment.name === 'IMPS'
          || element.mode_of_payment.name === 'NEFT'
          || element.mode_of_payment.name === 'RTGS'
          || element.mode_of_payment.name === 'UPI') ">
            T: {{element.data.date_of_transaction | date: 'dd/MM/yyyy'}}
          </ng-container>
          <ng-container *ngIf="(element.mode_of_payment.name === 'Cash')">
            T: {{element.data.date_of_transaction | date: 'dd/MM/yyyy'}}
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element"><span>{{element.data.name | uppercase}}</span></mat-cell>
      </ng-container>

      <!-- Instrument no Column -->
      <ng-container matColumnDef="instrument_number">
        <mat-header-cell *matHeaderCellDef> Instrument Number</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{displayInstrumentNo(element)}} </mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount(₹)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.data.amount}} </mat-cell>
      </ng-container>

      <!-- Mode Of Payment Column -->
      <ng-container matColumnDef="mode_of_payment">
        <mat-header-cell *matHeaderCellDef> Mode of Payment</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mode_of_payment.name}} </mat-cell>
      </ng-container>

    <!-- Pan Card No. Column -->
    <ng-container matColumnDef="pan_card">
      <mat-header-cell *matHeaderCellDef> PAN</mat-header-cell>
      <mat-cell *matCellDef="let element"
                [matTooltip]="getPanStateDisplayName(element) | titlecase"
                class="cursor-pointer"> {{element.data.pan_card}} </mat-cell>
    </ng-container>
    <!-- Pan Card No. Column -->
    <!--State-->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state_name}} </mat-cell>
    </ng-container>
    <!--State -->
    <!--Party Unit-->
    <ng-container matColumnDef="party_unit">
      <mat-header-cell *matHeaderCellDef> Party Unit</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{displayPartyUnit(element.location_type)}} </mat-cell>
    </ng-container>
    <!--Party Unit-->
    <!--Location-->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> Location</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location_name}} </mat-cell>
    </ng-container>
    <!--Location-->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-btn">
        <div class="w-100 d-inline-flex justify-content-around">
          <!--          <mat-icon>info</mat-icon>-->
          <img src="assets/icons/cheque.png" alt="" *ngIf="element.payment_realize_date" class="icon-resize"
               matTooltip="{{element.mode_of_payment.name}} Realized on: {{element.payment_realize_date | date: 'dd/MM/yyyy'}}">

          <!--Reverse remark in case of other mode of payment -->
          <img src="assets/icons/reversed-red.svg" alt="" *ngIf="(element.mode_of_payment.name === 'IMPS'
            || element.mode_of_payment.name === 'NEFT'
            || element.mode_of_payment.name === 'RTGS'
            || element.mode_of_payment.name === 'UPI'
            || element.mode_of_payment.name === 'Cash') && element.payment_remark" class="icon-resize text-danger"
               matTooltip="Reversed Remark: {{element.payment_remark }}">

          <!--Reverse remark in case of cheque & dd-->
          <img src="assets/icons/reversed-red.svg" alt=""
               *ngIf="element.payment_remark && (element.mode_of_payment.name === 'Demand Draft' || element.mode_of_payment.name === 'Cheque') && element.payment_realize_date"
               class="icon-resize"
               matTooltip="Reverse Remark: {{element.payment_remark }}">
          <!--Bounce remark in case of cheque -->

          <img src="assets/icons/error.svg" alt=""
               *ngIf="element.payment_remark && element.mode_of_payment.name === 'Cheque' && !element.payment_realize_date"
               class="icon-resize"
               matTooltip="Bounced Remark: {{element.payment_remark }}">

          <div class="cursor-pointer" matTooltip="{{updateAllowedDays}} Days are available to update the Bank & donor details."
               *ngIf="updateAllowedDays.length > 0 && (element.mode_of_payment.name === 'IMPS'
          || element.mode_of_payment.name === 'NEFT'
          || element.mode_of_payment.name === 'RTGS'
          || element.mode_of_payment.name === 'UPI') &&
          (!hasBankDetails(element) &&
          allowedEdit(element.data.date) &&
          !element.payment_remark ) ||
          element.data.name === ''
          ">
            <img src="assets/icons/time.svg" alt="" matTooltip="{{updateAllowedDays}} Days are available to update the Bank & donor details.
          "  class="icon-resize" >
          </div>
        </div>
          <!-- Three dot dropdown-->
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="element.is_editable && allowedEdit(element.data.date)"
                    [routerLink]="['transaction_edit', element.id]">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item [routerLink]="['transaction_view', element.id]">
              <mat-icon>remove_red_eye</mat-icon>
              <span>View</span>
            </button>
            <div *ngIf="checkFutureDate(element)">
            <span *ngIf="element.mode_of_payment.name === 'Cheque' || element.mode_of_payment.name === 'Demand Draft'">
            <button mat-menu-item *ngIf="!element.payment_realize_date && !element.payment_remark"
                    (click)="openChequeDialog('realized', element)">
              <img src="assets/icons/realised.svg" alt=""   class="mat-icon-resize" >
              <span>Realized</span>
            </button>
              </span>
              <span *ngIf="element.mode_of_payment.name === 'Cheque' && !element.payment_realize_date">
            <button mat-menu-item *ngIf="!element.payment_remark"
                    (click)="openChequeDialog('bounced' , element)">
              <img src="assets/icons/bounce.svg" alt=""   class="mat-icon-resize" >
              <span>Bounced</span>
            </button>
              </span>
            </div>
            <button mat-menu-item *ngIf="isReversable(element) && !element.payment_remark" (click)="openChequeDialog('reserved', element)">
              <img src="assets/icons/refresh.svg" alt=""   class="mat-icon-resize" >
              <span>Reversed</span>
            </button>

            <button mat-menu-item (click)="clickArchive(element.id)">
              <mat-icon>archive</mat-icon>
              <span>Archive</span>
            </button>

            <!--  In case of future date of cheque show message-->
            <button mat-menu-item *ngIf="checkFutureDate(element) == false">
              <mat-icon class="text-center"
                        matTooltip="{{element.mode_of_payment.name}} Realize option will available on {{utilService.formatDate(element.data.date_of_cheque) || ('-')}}">
                info
              </mat-icon>
            </button>
          </mat-menu>
          <!-- Three dot dropdown-->
      </mat-cell>
    </ng-container>

      <ng-container matColumnDef="receipt-print">
        <mat-header-cell *matHeaderCellDef> Receipt</mat-header-cell>
        <mat-cell *matCellDef="let element" class="btn-separate">
          <ng-container *ngIf="!hasReceiptGenerated(element)">
            <mat-icon (click)="openReceiptStatus(element)" class="reciept-reason" matTooltip="View Reason ">print</mat-icon>
          </ng-container>
          <ng-container
            *ngIf="element.mode_of_payment.name === 'Cheque'|| element.mode_of_payment.name === 'Demand Draft'">
            <mat-icon (click)="downloadReceipt(element)"  *ngIf="element.payment_realize_date &&
         element.transaction_valid
        && utilService.checkPermission('IndianDonationForm', 'Allow Receipt Print')
        && element.receipt_number_generated && hasBankDetails(element) && checkPanCardAndValidation(element)"
                     class="btn-background pointer "
                    matTooltip="Download Receipt">print
          </mat-icon>
        </ng-container>
        <mat-icon (click)="downloadReceipt(element)" *ngIf="(
                  element.mode_of_payment.name === 'IMPS'
                  || element.mode_of_payment.name === 'NEFT'
                  || element.mode_of_payment.name === 'RTGS'
                  || element.mode_of_payment.name === 'UPI')
                  &&
         utilService.checkPermission('IndianDonationForm', 'Allow Receipt Print')
        && element.transaction_valid
        && element.receipt_number_generated && checkPanCardAndValidation(element)"
                  class="btn-background pointer"
                  matTooltip="Download Receipt">print
        </mat-icon>
        <mat-icon (click)="downloadReceipt(element)"
                  *ngIf=" (element.mode_of_payment.name === 'Cash') &&
         utilService.checkPermission('IndianDonationForm', 'Allow Receipt Print')
        && element.transaction_valid
        && element.receipt_number_generated && checkPanCardAndValidation(element)"
                  class="btn-background pointer"
                  matTooltip="Download Receipt" >print
        </mat-icon>


        <button class="btn-send" (click)="openEmailSendModal(element)"   *ngIf="(element.mode_of_payment.name === 'Cheque'|| element.mode_of_payment.name === 'Demand Draft') && element.payment_realize_date &&
         element.transaction_valid
        && utilService.checkPermission('IndianDonationForm', 'Allow Receipt Print')
        && element.receipt_number_generated && hasBankDetails(element) && checkPanCardAndValidation(element)">
          <img src="assets/icons/send.svg" matTooltip="Send receipt on email" >
        </button>

        <button class="btn-send" (click)="openEmailSendModal(element)"  *ngIf="(
                  element.mode_of_payment.name === 'IMPS'
                  || element.mode_of_payment.name === 'NEFT'
                  || element.mode_of_payment.name === 'RTGS'
                  || element.mode_of_payment.name === 'UPI')
                  &&
         utilService.checkPermission('IndianDonationForm', 'Allow Receipt Print')
        && element.transaction_valid
        && element.receipt_number_generated && checkPanCardAndValidation(element)">
          <img  src="assets/icons/send.svg"
               matTooltip="Send receipt on email" >
        </button>

        <button class="btn-send" (click)="openEmailSendModal(element)" *ngIf=" (element.mode_of_payment.name === 'Cash') &&
         utilService.checkPermission('IndianDonationForm', 'Allow Receipt Print')
        && element.receipt_number_generated && element.transaction_valid && checkPanCardAndValidation(element)">
          <img src="assets/icons/send.svg"
               matTooltip="Send receipt on email" >
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </div>
  <mat-paginator #paginator showFirstLastButtons hidePageSize [length]="length"
                 [pageSize]="pageSize" (page)="pageEvent = paginationClicked($event)"></mat-paginator>
</ng-container>
<ng-template #emptyList>
  <h3 class="text-center" *ngIf="!showLoader">No records found</h3>
</ng-template>
<div class="loader-container" *ngIf="showLoader">
  <mat-spinner color="warn"></mat-spinner>
</div>

<!--<div *ngIf="showLoader" class="shimmer">-->
<!--  <ngx-shimmer-loading>-->
<!--    <div class="page-loader-1"></div>-->
<!--  </ngx-shimmer-loading>-->
<!--</div>-->
