<form [formGroup]="passwordForm">
    <h5 class="text-center">Update Password</h5>
    <hr>
    <mat-form-field class="col-md-12">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" required type="password">
      <mat-error class="modal-error" *ngIf="passwordForm.controls['password'].hasError('required')">Password is
        required
      </mat-error>
      <mat-error class="modal-error" *ngIf="passwordForm.controls['password'].hasError('pattern')">
        Password should be Minimum eight characters, at least one uppercase letter, one lowercase letter, one number
        and one special character
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-12 mt-3">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Confirm Password" formControlName="confirmPassword" required type="password">
      <mat-error class="modal-error" *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">Password is
        required
      </mat-error>
      <mat-error class="modal-error" *ngIf="passwordForm.controls['confirmPassword'].hasError('pattern')">
        Password should be Minimum eight characters, at least one uppercase letter, one lowercase letter, one number
        and one special character
      </mat-error>
    </mat-form-field>
    <button matRipple mat-raised-button (click)="onSubmit()" class="btn orange-btn mt-3"
            [disabled]="!passwordForm.valid">
        <mat-icon>save</mat-icon>
        Update Password
    </button>
</form>
