<form [formGroup]="updatePanForm">
  <div class="container">
    <div class="close_btn">
    <h1 mat-dialog-title>Approve/Reject the Transaction</h1>
    <img src="assets/icons/close.png" alt=" " (click)="close()" class="close_icon">
    </div>
    <div class="row">
<!--      <mat-label class="status-level">Status <span class="text-danger">*</span></mat-label>-->

      <div class="col-md-12 mt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Remark</mat-label>
          <textarea matInput placeholder="Remark" formControlName="accountant_pan_remarks"
                    [required]="isRequiredField('accountant_pan_remarks')"></textarea>
          <mat-error
            *ngIf="((updatePanForm.controls.accountant_pan_remarks.touched)&& updatePanForm.controls.accountant_pan_remarks.hasError('required'))">
            Remark is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <button class="approve_btn"  (click)="submitForm('approve')"></button>
        <button class="reject_btn" (click)="submitForm('reject')"></button>
      </div>

<!--      <div class="col-md-12 update-pan-btn">-->
<!--        <button mat-flat-button (click)="submitForm()" [disabled]="!updatePanForm.valid" color="warn">Submit</button>-->
<!--      </div>-->
    </div>
  </div>

</form>
