.field-container ::ng-deep.mat-checkbox {
  margin-right:20px ;
}
.field-container ::ng-deep.mat-checkbox-inner-container {
  margin-right:3px ;
}

.field-container {
  padding: 10px;
  line-height: 2.5;
}

::ng-deep .mat-dialog-actions {
  min-height: 70px !important;
}

.font-20 {
  font-size: 20px;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
}

/*Hiding second scroll bar for small screen*/
@media (max-width: 1940px) and (min-width: 1024px) and (max-height: 471px){
  ::ng-deep .mat-dialog-content {
    overflow: hidden;
  }
  ::ng-deep .mat-dialog-container {
    overflow: scroll;
  }
}
