<div class="container">
  <h5 mat-dialog-title>Send Receipt on Email</h5>
  <form [formGroup]="sendReceipForm">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Enter email </mat-label>
    <input matInput placeholder="Enter email" formControlName="email" />
    <mat-error
      *ngIf="((sendReceipForm.controls.email.touched)&& sendReceipForm.controls.email.hasError('required'))">
      Email is required
    </mat-error>
    <mat-error
      *ngIf="((sendReceipForm.controls.email.touched)&& sendReceipForm.controls.email.hasError('pattern'))">
      Email is not valid
    </mat-error>
  </mat-form-field>
    <br>
    <button mat-raised-button class="send-btn" [disabled]="!sendReceipForm.valid" (click)="submit()">Submit</button>
    <button mat-stroked-button class="ml-4" color="warn" (click)="close()">Close</button>
  </form>
</div>
<div class="loader-container" *ngIf="showLoader">
  <mat-spinner color="warn"></mat-spinner>
</div>
