<div class="container">
  <h5 mat-dialog-title>Send Receipt on Email</h5>
  <form [formGroup]="sendReceipForm">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Enter email </mat-label>
    <input matInput placeholder="Enter email" formControlName="email" />
    <mat-error
      *ngIf="((sendReceipForm.controls.email.touched)&& sendReceipForm.controls.email.hasError('required'))">
      Email is required
    </mat-error>
  </mat-form-field>
    <br>
    <button mat-raised-button color="warn" [disabled]="!sendReceipForm.valid" (click)="submit()">Submit</button>
    <button mat-raised-button color="primary" class="ml-4" (click)="close()">Close</button>
  </form>
</div>
