<ng-container *ngIf="length > 0 ; else emptyList">
  <mat-table [dataSource]="transactionList" class="entry-list-table">
    <!-- Serial Number Column -->
    <ng-container matColumnDef="sno">
      <mat-header-cell *matHeaderCellDef> S. No.</mat-header-cell>
      <mat-cell
        *matCellDef="let element; let i = index;">{{ ((this.pageEvent.pageIndex ? this.pageEvent.pageIndex : 0) * this.pageSize) + i + 1}} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
      <mat-cell *matCellDef="let element">
        C: {{element.data.date | date: 'dd/MM/yyyy'}} <br>
        <ng-container *ngIf="(element.mode_of_payment.name === 'Cheque')">
          T: {{element.data.date_of_cheque | date: 'dd/MM/yyyy'}}
        </ng-container>
        <ng-container *ngIf="(element.mode_of_payment.name === 'Demand Draft')">
          T: {{element.data.date_of_draft | date: 'dd/MM/yyyy'}}
        </ng-container>
        <ng-container *ngIf="(element.mode_of_payment.name === 'IMPS'
          || element.mode_of_payment.name === 'NEFT'
          || element.mode_of_payment.name === 'RTGS'
          || element.mode_of_payment.name === 'UPI') ">
          T: {{element.data.date_of_transaction | date: 'dd/MM/yyyy'}}
        </ng-container>
        <ng-container *ngIf="(element.mode_of_payment.name === 'Cash')">
          T: {{element.data.date_of_transaction | date: 'dd/MM/yyyy'}}
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"><span>{{element.data.name | uppercase}}</span></mat-cell>
    </ng-container>

    <!-- INstrument NUmber Column -->
    <ng-container matColumnDef="instrument_number">
      <mat-header-cell *matHeaderCellDef> Instrument Number</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{utilService.displayInstrumentNo(element)}} </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.data.amount}} </mat-cell>
    </ng-container>

    <!-- Mode Of Payment Column -->
    <ng-container matColumnDef="mode_of_payment">
      <mat-header-cell *matHeaderCellDef> Mode Of Payment</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mode_of_payment? element.mode_of_payment.name : ''}} </mat-cell>
    </ng-container>

    <!-- Pan Card No. Column -->
    <ng-container matColumnDef="pan_card">
      <mat-header-cell *matHeaderCellDef> Pan Card No.</mat-header-cell>
      <mat-cell *matCellDef="let element"
                class="cursor-pointer"> {{element.data.pan_card}} </mat-cell>
    </ng-container>
    <!-- Pan Card No. Column -->
    <!--State-->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state_name}} </mat-cell>
    </ng-container>
    <!--State -->
    <!--Party Unit-->
    <ng-container matColumnDef="party_unit">
      <mat-header-cell *matHeaderCellDef> Party Unit</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location_type}} </mat-cell>
    </ng-container>
    <!--Party Unit-->
    <!--Location-->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> Location</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location_name}} </mat-cell>
    </ng-container>
    <!--Location-->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-btn">
        <button class="archive-btn" (click)="clickUnArchive(element.id)" matTooltip="Unarchive Transaction">
          <mat-icon>unarchive</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator showFirstLastButtons hidePageSize [length]="length" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="pageSize" (page)="pageEvent = paginationClicked($event)"></mat-paginator>
</ng-container>
<ng-template #emptyList>
  <h3 class="text-center" *ngIf="!showLoader">No archive record found</h3>
</ng-template>
<div class="loader-container" *ngIf="showLoader">
  <mat-spinner color="warn"></mat-spinner>
</div>
