 <div class="d-flex justify-content-between">
   <h4>Receipt Not generated due to -</h4>
   <mat-icon class="float-right cursor-pointer" (click)="closeReceiptModal()">close</mat-icon>
 </div>
<table border="1" class="reason-table">
  <tr>
    <th class="text-center">Reason</th>
    <th class="text-center">Description</th>
  </tr>
  <tr>
    <ng-container *ngIf="!transaction.transaction_valid">
      <td>Invalid Transaction </td>
      <td *ngIf="transaction.mode_of_payment.name === 'Cheque' || transaction.mode_of_payment.name === 'Demand Draft'">
        Please fill all <span class="text-danger">*</span> required fields to mark a valid transaction
        <ul class="text-secondary mt-2">
          <li>Mode of Payment <span class="text-danger">*</span>: <span [ngClass]="[transaction.mode_of_payment.name? 'text-success' : 'text-danger']">{{transaction.mode_of_payment.name}}</span></li>
          <li>Name <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.name? 'text-success' : 'text-danger']">{{transaction.data.name? transaction.data.name : 'Blank'}}</span></li>
          <li>Transaction Valid <span class="text-danger">*</span>: <span [ngClass]="[transaction.transaction_valid? 'text-success' : 'text-danger']">{{transaction.transaction_valid? transaction.transaction_valid : 'false'}}</span></li>
          <li>Bank Account no <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.account_number? 'text-success' : 'text-danger']">
            {{transaction.data.account_number? transaction.data.account_number : 'Blank'}}
          </span></li>
          <li>IFSC code <span class="text-danger">*</span>:
            <span [ngClass]="[transaction.data.ifsc_code? 'text-success' : 'text-danger']">{{transaction.data.ifsc_code? transaction.data.ifsc_code : 'Blank'}}</span>
          </li>
          <li>Branch name <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.branch_name? 'text-success' : 'text-danger']">{{transaction.data.branch_name? transaction.data.branch_name : 'Blank'}}</span></li>
          <li>Branch Address <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.branch_address? 'text-success' : 'text-danger']">{{transaction.data.branch_address? transaction.data.branch_address : 'Blank'}}</span></li>
          <li>Pan <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.pan_card? 'text-success' : 'text-danger']">{{transaction.data.pan_card? transaction.data.pan_card : 'Blank'}}</span></li>
          <li>Pan Status <span class="text-danger">*</span>: <span [ngClass]="[(transaction.pan_aasm_state === 'invalid' || transaction.pan_aasm_state === 'rejected')? 'text-danger' : 'text-success']">{{transaction.pan_aasm_state}}</span></li>
          <ul *ngIf="transaction.pan_aasm_state === 'invalid' || transaction.pan_aasm_state === 'rejected'">
            <li *ngIf="transaction.pan_data.pan_system_error">
              <span>System Remark: {{transaction.pan_data.pan_system_error}}</span>
            </li>
            <li *ngIf="transaction.pan_data.accountant_pan_remarks">
              <span>Approver Remark: {{transaction.pan_data.accountant_pan_remarks}}</span>
            </li>
          </ul>
          <li>Category <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.category? 'text-success' : 'text-danger']">{{transaction.data.category? transaction.data.category : 'Blank'}}</span></li>
          <li>Payment realize date <span class="text-danger">*</span>: <span [ngClass]="[transaction.payment_realize_date? 'text-success' : 'text-danger']">{{transaction.payment_realize_date? (transaction.payment_realize_date | date: 'dd/MM/yyyy') : 'Blank'}}</span></li>
          <ng-container *ngIf="!transaction.payment_realize_date && transaction.payment_remark">
            <li>Check bounced</li>
            <ul>
              <li>Remark: {{transaction.payment_remark}}</li>
            </ul>
          </ng-container>
        </ul>
      </td>
      <td *ngIf="transaction.mode_of_payment.name === 'RTGS'
      || transaction.mode_of_payment.name === 'IMPS'
      || transaction.mode_of_payment.name === 'NEFT'
      || transaction.mode_of_payment.name === 'UPI'">
        Please fill all <span class="text-danger">*</span> required fields to mark a valid transaction
        <ul class="text-secondary mt-2">
          <li>Mode of Payment <span class="text-danger">*</span>: <span [ngClass]="[transaction.mode_of_payment.name? 'text-success' : 'text-danger']">{{transaction.mode_of_payment.name}}</span></li>
          <li>Name <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.name? 'text-success' : 'text-danger']">{{transaction.data.name? transaction.data.name : 'Blank'}}</span></li>
          <li>Transaction Valid <span class="text-danger">*</span>: <span [ngClass]="[transaction.transaction_valid? 'text-success' : 'text-danger']">{{transaction.transaction_valid? transaction.transaction_valid : 'false'}}</span></li>
          <li>Pan <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.pan_card? 'text-success' : 'text-danger']">{{transaction.data.pan_card? transaction.data.pan_card : 'Blank'}}</span></li>
          <li>Pan Status <span class="text-danger">*</span>: <span [ngClass]="[(transaction.pan_aasm_state === 'invalid' || transaction.pan_aasm_state === 'rejected')? 'text-danger' : 'text-success']">{{transaction.pan_aasm_state}}</span></li>
          <ul *ngIf="transaction.pan_aasm_state === 'invalid' || transaction.pan_aasm_state === 'rejected'">
            <li *ngIf="transaction.pan_data.pan_system_error">
              <span>System Remark: {{transaction.pan_data.pan_system_error}}</span>
            </li>
            <li *ngIf="transaction.pan_data.accountant_pan_remarks">
              <span>Approver Remark: {{transaction.pan_data.accountant_pan_remarks}}</span>
            </li>
          </ul>
          <li>Category <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.category? 'text-success' : 'text-danger']">{{transaction.data.category? transaction.data.category : 'Blank'}}</span></li>
          <li>UTR no <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.utr_number? 'text-success' : 'text-danger']">{{transaction.data.utr_number? transaction.data.utr_number : 'Blank'}}</span></li>
        </ul>
      </td>
      <td *ngIf="transaction.mode_of_payment.name === 'Cash'">
        Please fill all <span class="text-danger">*</span> required fields to mark a valid transaction
        <ul class="text-secondary mt-2">
          <li>Mode of Payment <span class="text-danger">*</span>: <span [ngClass]="[transaction.mode_of_payment.name? 'text-success' : 'text-danger']">{{transaction.mode_of_payment.name}}</span></li>
          <li>Name <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.name? 'text-success' : 'text-danger']">{{transaction.data.name? transaction.data.name : 'Blank'}}</span></li>
          <li>Pan <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.pan_card? 'text-success' : 'text-danger']">{{transaction.data.pan_card? transaction.data.pan_card : 'Blank'}}</span></li>
          <li>Pan Status <span class="text-danger">*</span>: <span [ngClass]="[(transaction.pan_aasm_state === 'invalid' || transaction.pan_aasm_state === 'rejected')? 'text-danger' : 'text-success']">{{transaction.pan_aasm_state}}</span></li>
          <ul *ngIf="transaction.pan_aasm_state === 'invalid' || transaction.pan_aasm_state === 'rejected'">
            <li *ngIf="transaction.pan_data.pan_system_error">
              <span>System Remark: {{transaction.pan_data.pan_system_error}}</span>
            </li>
            <li *ngIf="transaction.pan_data.accountant_pan_remarks">
              <span>Approver Remark: {{transaction.pan_data.accountant_pan_remarks}}</span>
            </li>
          </ul>
          <li>Category <span class="text-danger">*</span>: <span [ngClass]="[transaction.data.category? 'text-success' : 'text-danger']">{{transaction.data.category? transaction.data.category : 'Blank'}}</span></li>
        </ul>
      </td>

    </ng-container>
    </tr>
  <tr>
    <ng-container *ngIf="!utilService.checkPermission('IndianDonationForm', 'Allow Receipt Print')">
      <td >Print Permission not available</td>
      <td class="text-secondary">You don't have permission of Print </td>
    </ng-container>
    </tr>
  <tr>
    <ng-container *ngIf="!transaction.receipt_number_generated">
      <td>Receipt Generation Waiting Period</td>
      <td class="text-secondary" *ngIf="!backDateEntry">Your receipt will be generated after {{receiptGenerationDate | date: 'dd/MM/yyyy'}} because receipt generation period for all transaction is {{receiptPrintDays}} Days</td>
    <td class="text-secondary" *ngIf="backDateEntry">Your receipt will be generate on next date</td>
    </ng-container>
  </tr>
</table>
