.app-content-container {
  background-color: #F1F1F1;
}

.app-content-top-margin {
  margin-top: 80px;
}
.content-area{
  height: 760px;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.content-area::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-area {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
