<form [formGroup]="filterForm">
  <div class="row col-md-12 align-items-center  ">
      <img src="assets/icons/list.svg" alt="" class="img-size">
      <h2 class="header-text mt-0 mb-0">Donation List</h2>
  </div>
  <div class="row p-2 mt-2">
    <div class="col-md-3">
      <mat-label class="mat-label-text">Search by Name/Phone No./PAN No.</mat-label><br>
      <mat-form-field class="w-100 position-relative" appearance="outline">
        <img src="assets/icons/rectangle.png" alt="" class="icon-size">
        <img src="assets/icons/search.png" alt="" class="search-icon">
        <input matInput  formControlName="query">
      </mat-form-field>
    </div>
    <div class="col-md-9 row align-items-center">
      <div class="col-md-3">
        <mat-label class="mat-label-text">Enter a date range</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-date-range-input [rangePicker]="picker" [max]="today">
            <input matStartDate (click)="picker.open()" formControlName="start_date">
            <input matEndDate  (click)="picker.open()" formControlName="end_date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-label class="mat-label-text">Filter by State</mat-label>
        <mat-form-field appearance="outline" class="w-100 position-relative" *ngIf="utilsService.isNationalAccountant() ||
         utilsService.isNationalTreasurer()">
          <img src="assets/icons/dropdown.svg" class="dropdown-icon">
          <mat-select formControlName="state_id"  >
            <mat-option *ngFor="let option of states" value="{{option.id}}">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row col-md-6 justify-content-around">
        <button mat-flat-button color="warn" class="col-md-3 clear-btn"  (click)="getFilteredData()">Search</button>
        <button mat-flat-button class="col-md-3 clear-btn" (click)="clearInputFields()">Clear</button>
        <button mat-flat-button

                class="col-md-3 download-btn" (click)="downloadList()">
<!--          *ngIf="utilsService.checkPermission('IndianDonationForm', 'Allow Data Download')"-->
          <mat-icon matSuffix>download</mat-icon>
          Download
        </button>

      </div>
    </div>
  </div>
</form>

