::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3em 0 0.7em 0;
}

.mat-label-text{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #91979f;
}

.img-size{
 width: 50px;
  height: 50px;
}

.header-text{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 47px;
  letter-spacing: 0.03em;
  margin-left: 20px;
  color: #F68E00;
}

.icon-size{
  position: absolute;
  right: -11px;
  top:-11px;
  bottom: 0;
  width: 44px;
  height: 44px;
}

.search-icon{
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  width: 20px;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0.4em !important;
}

::ng-deep.mat-flat-button{
  font-size:13px!important; ;
}


.clear-btn{
  background: #F7952C;
  border: 1px solid #B2B2B1;
  box-sizing: border-box;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  color: #ffffff;
}

::ng-deep.mat-select-arrow{
  color: #e7e8f1!important;
}

.dropdown-icon{
  position: absolute;
  top: -10px;
  right: -11px;
  width: 42px;
}

.download-btn{
  color:#ffffff;
  background: #1A7DDF;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
}
