.app-custom-header {
  background: #ffffff !important;
  color: #5a5a61 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 80px;
  font-size: 25px;
  box-shadow: 5px 5px 13px rgba(191, 193, 196, 0.7);
  border-radius: 0px 0px 8px 8px;

}

.header-search-form-field {
  max-height: 56px;
}

.header-title-span {
  margin-left: 15px;
  cursor: pointer;
  font-family: Palanquin;
  font-style: normal;
  font-weight: normal;
  font-size: 25.2567px;
  line-height: 46px;
  text-align: center;

  color: #5A5A61;

}

.sidenav-toggle-button {
  cursor: pointer;
}

.left-header-container {
  display: flex;
  align-items: center;
}

.right-header-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-custom-header > nav > a {
  color: white !important;
}

.app-custom-header > a {
  color: white !important;
  border-color: white !important;
}

.back-icon {
  width: 25px;
  height: auto;
  margin: 0 15px 0 15px;
}

.logout-icon{
  width: 30px;
  height: auto;
  cursor: pointer;
}

.header-logo {
  width: 50px;
  margin-left: 30px;
  cursor: pointer;
}

.user-avatar-menu {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  padding: 5px;
  border: 1px solid lightgrey;
}

.header-username {
  margin: 0 15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #212E42;

}

@media only screen
and (min-width: 300px) and (max-width: 600px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  .mobile {
    display: none;
  }
}
