<form [formGroup]="chequeDetailForm">
<mat-form-field appearance="outline" *ngIf="data.type === 'realized' ">
  <mat-label>Realize date</mat-label>
  <input matInput [matDatepicker]="picker" placeholder="Enter date" [max]="today" formControlName="date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field class="example-full-width" *ngIf="data.type === 'bounced' || data.type === 'reserved'">
  <mat-label>Add Remarks *</mat-label>
  <textarea matInput placeholder="Add remarks.." formControlName="remark"></textarea>
</mat-form-field>
<br>
<button mat-raised-button color="warn" (click)="updatePaymentMode()">Submit</button>
  <button mat-raised-button color="primary" class="ml-4" (click)="close()">Close</button>
</form>

