<form [formGroup]="filterForm">
  <div class="row col-md-12 align-items-center">
    <div class="col-3 archive-state-tab search-1">
      <mat-label class="mat-label-text">Name/Pan/Phone</mat-label>
        <mat-form-field class="search-box-1" appearance="outline">
          <input matInput formControlName="query" >
        </mat-form-field>
    </div>

    <div class="col-3 archive-state-tab search-1">
      <mat-label class="mat-label-text">Enter a date range</mat-label>
      <mat-form-field class="search-box-1" appearance="outline">
        <mat-date-range-input [rangePicker]="picker" [max]="today">
          <input matStartDate placeholder="Start date" (click)="picker.open()" formControlName="start_date">
          <input matEndDate placeholder="End date" (click)="picker.open()" formControlName="end_date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>


  <div class="col-3 archive-state-tab" *ngIf="utilsService.isNationalAccountant() ||
      utilsService.isNationalTreasurer()">
    <mat-label class="mat-label-text">Filter by State</mat-label>
    <ng-select (keyup.enter)="getFilteredData()"
               appearance="outline" class="bg-white"
               [items]="states" bindLabel="name"
               bindValue="id" formControlName="state_id">
    </ng-select>
  </div>

  <button mat-flat-button color="warn" class="ml-4 archive-search-btn" (click)="getFilteredData()">Search</button>
  <button mat-flat-button color="warn" class="ml-2 archive-clear-btn" (click)="clearInputFields()">Clear</button>
  <button mat-flat-button color="primary"
          *ngIf="utilsService.checkPermission('IndianDonationForm', 'Allow Data Download')"
          class="ml-2 archive-download-btn" (click)="downloadArchiveList()">
    <mat-icon matSuffix>download</mat-icon>
    Download
  </button>
  </div>
</form>

