<form [formGroup]="filterForm">
  <div class="row col-md-12 align-items-center">
    <div class="col-3 search-tab">
      <mat-label class="mat-label-text">Search by Email Id/Phone No.</mat-label>
        <mat-form-field class="search-box-1" appearance="outline">
          <input matInput formControlName="query">
        </mat-form-field>
    </div>


    <div class="col-3 role-tab">
      <mat-label class="mat-label-text">Filter by Role</mat-label>
        <ng-select appearance="outline" class="bg-white"
                   [items]="roles" bindLabel="name"
                   bindValue="value" formControlName="role">
        </ng-select>
    </div>

  <div class="col-3 state-tab" *ngIf="utilsService.isNationalAccountant() ||utilsService.isNationalTreasurer()">
    <mat-label class="mat-label-text">Filter by State</mat-label>
      <ng-select (keyup.enter)="getFilteredData()" appearance="outline" class="bg-white"
                 [items]="states" bindLabel="name"
                 bindValue="id" formControlName="state_id">
      </ng-select>
  </div>

<!--  <mat-form-field appearance="outline" class="col-3 small-mat-form-field" *ngIf="utilsService.isNationalAccountant() ||-->
<!--      utilsService.isNationalTreasurer()">-->
<!--    <mat-label>Filter by State</mat-label>-->

<!--      <mat-select formControlName="state_id">-->
<!--        <mat-option *ngFor="let option of states" value="{{option.id}}">{{option.name}}</mat-option>-->
<!--      </mat-select>-->

<!--  </mat-form-field>-->

  <button mat-flat-button color="warn" class="ml-4 search-btn" (click)="getFilteredData()">Search</button>
  <button mat-flat-button color="warn" class="ml-2 clear-btn" (click)="clearInputFields()">Clear</button>
  <button mat-flat-button  class="download-btn-user" (click) = "downloadUser()">Download</button>
  </div>
</form>
