<mat-dialog-content id="print-section" xmlns="http://www.w3.org/1999/html">

  <div class="page-container">
    <div class="box-border position-relative">
      <div class="container">
        <h2 class="text-center m-0"><b>BHARATIYA JANATA PARTY</b></h2>
        <p class="text-center m-0">Central Office</p>
        <p class="text-center m-0">6-A, Pandit Deen Dayal Upadhyaya Marg, New Delhi-110002 India</p>
        <img src="assets/images/bjp_logo_new.png" class="bjp-new-logo">
        <div class="mt-4">
          <p class="float-right"><b>Date: </b> {{receipt_data.data.data.date | date: 'dd/MM/yyyy'}}</p>
          <p><b>No: </b>{{receipt_data.data.data.date | date:'yyy'}}-22/{{receipt_data.data.mode_of_payment.name[0] | titlecase}}/{{receipt_data.data.id}}</p>

          <p><b>Received with thanks from
            <span *ngIf="receipt_data.data.data.category === 'individual' && receipt_data.data.data.is_proprietorship === 'false'">Sh/Smt</span>
            <span *ngIf="receipt_data.data.data.category === 'individual' && receipt_data.data.data.is_proprietorship === 'true'">M/Ms</span>
          </b> {{receipt_data.data.data.name}}
          </p>
          <p><b>Address:</b> {{receipt_data.data.data.house}}, {{receipt_data.data.data.locality}}, <b>District:</b> {{receipt_data.data.data.district}},  <b>State:</b> {{receipt_data.data.data.state}},
             <b>Pincode:</b> {{receipt_data.data.data.pincode}} </p>
          <p><b>Rs:</b> {{receipt_data.data.data.amount | toWords | titlecase}} Rupees Only.</p>
          <p><b>Vide {{receipt_data.data.mode_of_payment.name}} No</b>.
            <span *ngIf="receipt_data.data.data.cheque_number">{{receipt_data.data.data.cheque_number || '--------------------'}}</span>
            <span *ngIf="receipt_data.data.data.draft_number">{{receipt_data.data.data.draft_number || '--------------------'}}</span>
            <span *ngIf="receipt_data.data.data.utr_number">{{receipt_data.data.data.utr_number || '--------------------'}}</span>
             <b>dt</b>.
            <span *ngIf="receipt_data.data.data.cheque_number">{{receipt_data.data.data.date_of_cheque | date: 'dd/MM/yyyy' || '-------------------'}}</span>
            <span *ngIf="receipt_data.data.data.date_of_draft">{{receipt_data.data.data.date_of_draft | date: 'dd/MM/yyyy' || '-------------------'}}</span>
            <span *ngIf="receipt_data.data.data.utr_number">{{receipt_data.data.data.date || '--------------------'}}</span>
            <b> drawn
              on</b>...........................<b>as donation</b>.</p>
          <p><b>Donor Pan no</b>. {{receipt_data.data.data.pan_card}}</p>
          <h2>RS: ₹{{receipt_data.data.data.amount}}</h2>
          <br>
          <h5><b>Donation to the Party are exempt from Income Tax u/s 80GGB for Companies and u/s 80 GGC for Others as
            per Income Tax Act, 1961
          </b></h5>
          <p><b>PAN No.: AAABB015F</b> <span class="float-right">Regn. No.: 56/R/1/89/Dt. 19 sept 1989</span></p>
          <p>This is a system generated receipt and does not require signature.</p>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<button [useExistingCss]="true" class="float-right mt-4 ml-1" mat-flat-button color="primary"
  printSectionId="print-section"
  ngxPrint>Print
</button>
<button class="float-right mt-4" mat-flat-button color="warn" (click)="close()">Cancel</button>
