<div class="container dashboard-container">
  <div class="heading-container">
    <div class="logo-container">
      <img src="assets/icons/nidhi_logo.svg" alt="Nidhi Collection" class="logo">
    </div>
    <div class="heading">Nidhi Collection</div>
  </div>
  <div>
    <mat-form-field appearance="outline" class="query-form-field">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search by name / phone number" [formControl]="query">
      <mat-icon svgIcon="recording" matSuffix></mat-icon>
    </mat-form-field>
  </div>
  <div class="total-count-container">
    <div class="total-count-div">
      <div class="count">{{total}}</div>
    </div>
    <div class="total-count-heading-container"
         (click)="showTotalEntryList()">
      <img src="assets/icons/total_forms.svg" alt="Total forms">
      <div class="heading">Total Forms Entered</div>
    </div>
  </div>
  <div class="forms-container">
    <div class="form-div" [routerLink]="['/indian_donation_form']">
      <img src="assets/icons/indian_donation_form.svg" alt="Indian donation form">
      <div class="heading">Indian Donation Form</div>
    </div>
    <div class="form-div">
      <img src="assets/icons/nri_donation_form.svg" alt="NRI donation form">
      <div class="heading">NRI Donation Form</div>
    </div>
    <div class="form-div">
      <img src="assets/icons/kind_donation_form.svg" alt="Kind donation form">
      <div class="heading">Kind Donation Form</div>
    </div>
  </div>
  <div class="actions-container">
    <div class="action-div">
      <img src="assets/icons/required_action.svg" alt="Pan card action required">
      <div class="action-text">Action Required for Pancard</div>
    </div>
    <div class="action-div">
      <img src="assets/icons/required_action.svg" alt="DD / Cheque action required">
      <div class="action-text">Action Required for DD / Cheque</div>
    </div>
    <div class="action-div">
      <img src="assets/icons/required_action.svg" alt="Other action required">
      <div class="action-text">Action Required for Others</div>
    </div>
  </div>
</div>
