::ng-deep .mat-form-field-flex.ng-tns-c78-1 {
  background-color: #fff;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.filter-btn {
  margin-left: 1rem;
}

::ng-deep mat-header-cell, mat-cell {
  border: 1px solid #e0e0e0;
  color: black !important;
  font-size: 13px !important;
  text-align: center;
}

::ng-deep mat-row, mat-header-row, mat-footer-row {
  border: 1px solid #e0e0e0;
}

::ng-deep mat-row {
  border-width: 1px !important;
  border-top-width: 0 !important;
}

::ng-deep mat-cell.action-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
    flex: 0 0 6%;
  }

.mat-header-cell:first-of-type, mat-footer-cell:first-of-type, mat-cell:first-of-type {
   padding-left: 0px!important;
}

.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}



