<ng-container *ngIf="users.length > 0;else emptyList" class="container">
  <mat-table [dataSource]="users">
    <!-- Serial Number Column -->
    <ng-container matColumnDef="sno">
      <mat-header-cell *matHeaderCellDef> S. No.</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;">{{ ((this.pageEvent.pageIndex ? this.pageEvent.pageIndex : 0) * this.pageSize) + i + 1}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name | titlecase}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element" [matTooltip]="element.email"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phone_number">
      <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role.replace("_", " ") | titlecase}} </mat-cell>
    </ng-container>
    <!-- Country State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef>States</mat-header-cell>
      <mat-cell *matCellDef="let element" [matTooltip]="element.allotted_state"> {{element.allotted_state.split(',', 2)}}</mat-cell>
    </ng-container>
    <!-- Creator Column -->
    <ng-container matColumnDef="creator">
      <mat-header-cell *matHeaderCellDef>Creator</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>{{element.created_by? element.created_by.email : ''}}</div>
        <br>
        <div>
          {{element.created_by? element.created_by.phone_number : ''}}
        </div>
      </mat-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-container">
        <a *ngIf="element.active" [routerLink]="['/dashboard/users/add']"
           [queryParams]="{id: element.id}">Edit</a>
        <a *ngIf="!element.disabled" [routerLink]=""
           (click)="activateDeactivate(element.id, element)">{{element.active ? 'Deactivate' : 'Activate'}}</a>
        <a *ngIf="element.active" [routerLink]="" (click)="changePassword(element.id)">Change Password</a>
        <a [routerLink]="" (click)="enableDisable(element.id, element)">
          {{element.disabled ? 'Enable' : 'Disable'}}</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-container>
<ng-template #emptyList>
  <h3 class="text-center">No records found</h3>
</ng-template>
<div class="loader-container" *ngIf="showLoader">
  <mat-spinner color="warn"></mat-spinner>
</div>
