/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.orange-btn {
  background-color: #FC7017 !important;
  color: white !important;
  margin-top: 20px;
  min-width: 150px;
}

table {
  width: 100%;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

.important-blink {
  animation: blinker 1.2s linear infinite;
  background-color: #f67954;
  color: white;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
::ng-deep mat-cell{
  word-wrap: break-word!important;
  word-break: break-all!important;
}
