/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.loader-container .mat-spinner.mat-spinner.mat-progress-spinner.mat-warn.mat-progress-spinner-indeterminate-animation {
  position: absolute;
  left: 50%;
  top: 50%;
}


.pointer {
  cursor: pointer;
}

.orange-btn {
  background-color: #FC7017 !important;
  color: white !important;
  margin-top: 20px;
  min-width: 150px;
}

table {
  width: 100%;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

.important-blink {
  animation: blinker 1.2s linear infinite;
  background-color: #f67954;
  color: white;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.mat-cell{
  word-wrap: break-word!important;
  word-break: break-all!important;
}

/*Download styles*/

.download-popup{
  background-color: #2e2828;
  width: 35%;
  height: 122px;
  position: absolute;
  right: 11px;
  border-radius: 5px;
  bottom: 10px;
  z-index: 999;
}
.file-icon{
  color: #ff5722;
}
.download-bar-progress{
  margin-left: 8px;
}
.download-bar-progress .progress-bar[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 11px;
  border-radius: 31px;
}
.download-bar-progress .progress-bar[value]::-webkit-progress-bar {
  background-color: #6fb6e7;
}
.download-bar-progress .progress-bar[value]::-webkit-progress-value {
  background-color: #fff;
}
.dowload-bar-footer {
  color: #fff;
  font-size: 10px;
  margin-top: 5px;
}
.hidden {
  display: none;
}
.clearfix {
  clear: both;
}
