<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="d-flex align-items-center">
    <img src="assets/icons/title.svg" class="img-responsive">
    <h2 class="form-title-color"> Nidhi Collection Form</h2>
  </div>

  <form #form="ngForm" [formGroup]="collectionForm" class="row mt-4">
    <div class="parent position-relative" *ngIf="allowedValueNull">
      <div class="search-div">
        <input type="text" placeholder="Search by / PAN No." class="search-input" [formControl]="keyword"
        >
        <mat-icon class="search-icon">search</mat-icon>
        <mat-icon *ngIf="keyword.value" (click)="clearSearchData()" class="cursor-pointer search-icon mr-4">cancel
        </mat-icon>
      </div>
      <div *ngIf="autoFillData" class="search-result">
        <mat-option *ngFor="let option of autoFillData" class="mt-2 result-option" (click)="setFormValues(option)">
          <b>Name:</b> <span class=" ml-1 ext-secondary">{{option.data.name}}</span> <span
          class="ml-4 ext-secondary"><b>PAN Card:</b></span>
          <span class="ml-1 ext-secondary">{{option.data.pan_card}}</span>
          <br>
          <b>Address:</b><span class="ml-1">{{option.data.locality}}, {{option.data.district}}
          , {{option.data.pincode}}</span>
        </mat-option>
      </div>
    </div>

    <div class="col-md-4">
      <mat-label>Transaction Type <sup>*</sup></mat-label>
      <ng-select [items]="transactionTypes" appearance="outline" class="bg-white mt-1"
                 *ngIf="utilsService.checkPermission('IndianDonationForm', 'Supplementary Entry')"
                 bindLabel="name"
                 bindValue="value"
                 [required]="isRequiredField('transaction_type')"
                 formControlName="transaction_type">
      </ng-select>
    </div>

    <div class="col-md-4">
      <mat-label translate>Enter Date <sup>*</sup></mat-label>
      <br>
      <mat-form-field appearance="outline">
        <input #focusDate matInput (keydown.enter)="false" (keypress)="disableKeyPress($event)"
               [matDatepicker]="picker" (click)="picker.open()" [min]="today" [max]="today"
               placeholder="Enter date"
               formControlName="date" [required]="isRequiredField('date')"
               (dateChange)="_dateChangeHandler($event.value, collectionForm.controls.date)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="(collectionForm.controls.date.hasError('required'))">
          Date is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-label>Financial Year</mat-label>
      <br>
      <mat-form-field appearance="outline" class="position-relative">
        <mat-select formControlName="financial_year_id" [required]="isRequiredField('financial_year_id')">
          <mat-option *ngFor="let option of yearsSlab" value="{{option.id}}"
                      class="select-ui">{{option.slab}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <label class="single-label">Mode of Payment <sup *ngIf="isRequiredField('mode_of_payment')">*</sup></label>
      <mat-radio-group formControlName="mode_of_payment" aria-label="mode_of_payment"
                       class="radio-group-container radio-group-container-margin">
        <mat-radio-button *ngFor="let item of validPaymentModes" value="{{item.id}}">{{item.name}}</mat-radio-button>
      </mat-radio-group>
      <mat-error
        *ngIf="((collectionForm.controls.mode_of_payment.touched)&& collectionForm.controls.mode_of_payment.hasError('required'))">
        Mode of Payment is required
      </mat-error>
    </div>
    <div class="section" *ngIf="selectedModeOfPayment.name">
      <div class="title-color row align-items-center mt-2">
        <img src="assets/icons/payment.svg" class="img-icon">
        <span class="ml-2">Payment Details</span>
      </div>
      <div class="d-flex">
        <div class="col-md-6" *ngIf="['RTGS', 'NEFT', 'IMPS', 'UPI', 'Cash'].includes(this.selectedModeOfPayment.name)">
          <mat-label>Date of Transaction <sup *ngIf="isRequiredField('date_of_transaction')">*</sup></mat-label>
          <ng-container *ngIf="!transactionId">
            <mat-form-field appearance="outline">
              <input matInput yn-mask-date="dd/mm/yyyy"
                     placeholder="dd/mm/yyyy"
                     autocomplete="off"
                     formControlName="date_of_transaction"
                     [required]="isRequiredField('date_of_transaction')"/>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="transactionId">
            <input matInput
                   [matDatepicker]="picker4"
                   formControlName="date_of_transaction"
            />
            <mat-datepicker #picker4></mat-datepicker>
          </ng-container>
          <mat-error
            *ngIf="((collectionForm.controls.date_of_transaction.touched)&& collectionForm.controls.date_of_transaction.hasError('required'))">
            Date of transaction is required
          </mat-error>
        </div>
        <div class="col-md-6" *ngIf="['RTGS', 'NEFT', 'IMPS', 'UPI'].includes(selectedModeOfPayment.name)">
          <mat-label>Enter UTR No <sup *ngIf="isRequiredField('utr_number')">*</sup></mat-label>
          <mat-form-field appearance="outline"
          >
            <input matInput formControlName="utr_number" pattern="^[A-Za-z0-9]+$" maxlength="22"
                   [required]="isRequiredField('utr_number')">
            <mat-error
              *ngIf="((collectionForm.controls.utr_number.touched)&& collectionForm.controls.utr_number.hasError('required'))">
              UTR number is required
            </mat-error>
            <mat-error
              *ngIf="((collectionForm.controls.utr_number.touched)&& collectionForm.controls.utr_number.hasError('pattern'))">
              UTR number is invalid
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <ng-container *ngIf="selectedModeOfPayment.name === 'Cheque'">
        <div class="d-flex">
          <div class="col-md-6">
            <mat-label>Date of cheque <sup *ngIf="isRequiredField('date_of_cheque')">*</sup></mat-label>
            <mat-form-field appearance="outline">
              <ng-container *ngIf="!transactionId">
                <input matInput yn-mask-date="dd/mm/yyyy"
                       placeholder="dd/mm/yyyy"
                       autocomplete="off"
                       formControlName="date_of_cheque"
                       [required]="isRequiredField('date_of_cheque')"/>
              </ng-container>
              <ng-container *ngIf="transactionId">
                <input matInput
                       [matDatepicker]="picker4"
                       formControlName="date_of_cheque"
                />
                <mat-datepicker #picker4></mat-datepicker>
              </ng-container>
              <mat-error
                *ngIf="((collectionForm.controls.date_of_cheque.touched)&& collectionForm.controls.date_of_cheque.hasError('required'))">
                Date of cheque is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-label>Cheque No. <sup *ngIf="isRequiredField('cheque_number')">*</sup></mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="cheque_number"
                     (keypress)="utilsService.validateNumber($event)" maxlength="6"
                     [required]="isRequiredField('cheque_number')">
              <mat-error
                *ngIf="((collectionForm.controls.cheque_number.touched)&& collectionForm.controls.cheque_number.hasError('required'))">
                Cheque number is required
              </mat-error>
              <mat-error
                *ngIf="((collectionForm.controls.cheque_number.touched)&& collectionForm.controls.cheque_number.hasError('pattern'))">
                Please enter a valid Cheque number
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedModeOfPayment.name === 'Demand Draft'">
        <div class="d-flex">
          <div class="col-md-6">
            <mat-label>Date of draft <sup *ngIf="isRequiredField('date_of_draft')">*</sup></mat-label>
            <ng-container *ngIf="!transactionId">
              <mat-form-field appearance="outline">
                <input matInput yn-mask-date="dd/mm/yyyy"
                       autocomplete="off"
                       placeholder="dd/mm/yyyy"
                       formControlName="date_of_draft"
                       [required]="isRequiredField('date_of_draft')"/>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="transactionId">
              <input matInput
                     [matDatepicker]="picker4"
                     formControlName="date_of_draft"
              />
              <mat-datepicker #picker4></mat-datepicker>
            </ng-container>
            <mat-error
              *ngIf="((collectionForm.controls.date_of_draft.touched)&& collectionForm.controls.date_of_draft.hasError('required'))">
              Date of draft is required
            </mat-error>
          </div>
          <div class="col-md-6">
            <mat-label>Draft No. <sup *ngIf="isRequiredField('draft_number')">*</sup></mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="draft_number" [pattern]="'[0-9]{6}'"
                     (keypress)="utilsService.validateNumber($event)" maxlength="6"
                     [required]="isRequiredField('draft_number')">
              <mat-error
                *ngIf="((collectionForm.controls.draft_number.touched)&& collectionForm.controls.draft_number.hasError('required'))">
                Draft number is required
              </mat-error>
              <mat-error *ngIf="(collectionForm.controls.draft_number.hasError('pattern'))">
                Please enter a valid draft number
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      <!-- Cheque dd back & front image-->
      <ng-container *ngIf="allowedValueNull">
        <div class="d-flex mt-1">
          <div class="col-md-6">
            <ng-container *ngIf="['Cheque', 'Demand Draft'].includes(this.selectedModeOfPayment.name)">
              <label class="label-color mb-0">Please upload
                <span *ngIf="['Cheque'].includes(this.selectedModeOfPayment.name)">Cheque</span>
                <span *ngIf="['Demand Draft'].includes(this.selectedModeOfPayment.name)">Demand Draft</span>
                front photo</label>
              <div class="pan-card-image-upload-container">
                <div (click)="fileInputPhoto.click()" class="upload-pan-card-btn">
                  <ng-container *ngIf="collectionForm.controls.cheque_dd_photo1.value;else uploadChequeDDFrontText">
                    <div class="position-relative">
                      <!--                        <img src="assets/icons/upload_success_icon.svg" alt="cheque dd front photo" class="upload-icon"/>-->
                      <!--                        Cheque/ Demand Draft card uploaded-->
                      <img src="assets/icons/file.svg" alt="upload pan card" class="choose-file-img"/>
                      <span class="file-text-position">Choosed File</span>
                    </div>
                    <!--                      <img src="assets/icons/eye.svg" alt="View pan card"/>-->
                  </ng-container>
                  <ng-template #uploadChequeDDFrontText>
                    <div class="mb-0 position-relative">
                      <img src="assets/icons/file.svg" alt="upload pan card" class="choose-file-img"/>
                      <span class="file-text-position">Choose File</span>
                    </div>
                  </ng-template>
                  <input type="file" hidden accept="image/png, image/jpeg"
                         (change)="onFileChange($event, 'cheque_dd_photo1')" #fileInputPhoto/>
                </div>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="['Cheque', 'Demand Draft'].includes(this.selectedModeOfPayment.name)">
            <div class="col-md-6">
              <label class="label-color mb-0">Please upload
                <span *ngIf="['Cheque'].includes(this.selectedModeOfPayment.name)">Cheque</span>
                <span *ngIf="['Demand Draft'].includes(this.selectedModeOfPayment.name)">Demand Draft</span>
                back photo</label><br>
              <div class="pan-card-image-upload-container">
                <div (click)="fileInputPhoto.click()" class="upload-pan-card-btn">
                  <ng-container *ngIf="collectionForm.controls.cheque_dd_photo2.value;else uploadChequeDDBackText">
                    <div class="position-relative">
                      <img src="assets/icons/file.svg" alt="upload file" class="choose-file-img"/>
                      <span class="file-text-position">Choosed File</span>
                      <!--                        <img src="assets/icons/upload_success_icon.svg" alt="cheque dd back photo" class="upload-icon"/>-->
                      <!--                        Cheque/ Demand Draft card uploaded-->
                    </div>
                    <!--                      <img src="assets/icons/eye.svg" alt="View file"/>-->
                  </ng-container>
                  <ng-template #uploadChequeDDBackText>
                    <div class="position-relative">
                      <img src="assets/icons/file.svg" alt="upload file" class="choose-file-img"/>
                      <span class="file-text-position">Choose File</span>
                      <!--                        <img src="assets/icons/upload_icon.svg" alt="upload pan card"/>-->
                      <!--                        Upload Cheque/ Demand Draft-->
                    </div>
                  </ng-template>
                  <input type="file" hidden accept="image/png, image/jpeg"
                         (change)="onFileChange($event, 'cheque_dd_photo2')" #fileInputPhoto/>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <!-- Cheque dd back & front image-->


      <!--Show uploaded image preview-->
      <ng-container *ngIf="['Cheque', 'Demand Draft'].includes(this.selectedModeOfPayment.name)">
        <div *ngIf="!transactionId" class="row">
          <div class="col-md-6">
            <img src="{{collectionForm.controls.cheque_dd_photo1.value}}"
                 *ngIf="collectionForm.controls.cheque_dd_photo1.value" height="75" width="75" class="ml-3 mb-2">
          </div>
          <div class="col-md-6">
            <img src="{{collectionForm.controls.cheque_dd_photo2.value}}"
                 *ngIf="collectionForm.controls.cheque_dd_photo2.value" height="75" width="75" class="ml-2 mb-2">
          </div>
        </div>
        <div *ngIf="transactionId" class="row">
          <div class="col-md-6">
            <img src="{{transactionDetails.data.data.cheque_dd_photo1}}"
                 *ngIf="transactionDetails.data.data.cheque_dd_photo1" height="75" width="75" class="ml-3 mb-2">
          </div>
          <div class="col-md-6">
            <img src="{{transactionDetails.data.data.cheque_dd_photo2}}"
                 *ngIf="transactionDetails.data.data.cheque_dd_photo2" height="75" width="75" class="ml-2 mb-2">
          </div>
          <br>
        </div>
      </ng-container>
    </div>

    <div *ngIf="transactionId">
      <ng-container
        *ngIf="['RTGS', 'NEFT', 'IMPS', 'UPI', 'Cheque', 'Demand Draft'].includes(selectedModeOfPayment.name) && allowBankDetailEdit(transactionDetails.data.data.date)">
        <div class="section col-md-12">
          <label class="bank-header-color row  align-items-center">
            <img src="assets/icons/bank.svg" class="img-icon">
            <span class="ml-2">Bank Details</span><sup *ngIf="isRequiredField('account_number')">*</sup></label>
          <div class="row mt-2">
            <div class="col-md-6">
              <mat-label>Account No.</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="account_number" (keypress)="utilsService.validateNumber($event)"
                       maxlength="18" minlength="7">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-label>IFSC Code</mat-label>
              <mat-form-field appearance="outline">
                <input matInput oninput="this.value = this.value.toUpperCase()" maxlength="11"
                       (keyup)="getBankDetails(collectionForm.controls.ifsc_code.value)" formControlName="ifsc_code"
                       [required]="isRequiredField('ifsc_code')">
                <mat-error
                  *ngIf="((collectionForm.controls.ifsc_code.touched)&& collectionForm.controls.ifsc_code.hasError('pattern'))">
                  Please enter correct ifsc code
                </mat-error>
                <div class="position-relative" *ngIf="bankDetails.BANK">
                  <div class="bank-details" (click)="setBankDetails(bankDetails)">
                    <p><b>Bank Name:</b> {{bankDetails.BANK}}</p><br>
                    <p><b>Branch Addres:</b> {{bankDetails.ADDRESS}}</p>
                  </div>
                </div>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-label>Bank Name</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="bank_name" [required]="isRequiredField('bank_name')">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Branch Name</mat-label>
                <input matInput formControlName="branch_name"
                       [required]="isRequiredField('branch_name')">
              </mat-form-field>
            </div>
          </div>

          <div>
            <mat-label>Branch Address</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="branch_address"
                     [required]="isRequiredField('branch_address')">
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </div>

    <div *ngIf="!transactionId">
      <ng-container
        *ngIf="['RTGS', 'NEFT', 'IMPS', 'UPI', 'Cheque', 'Demand Draft'].includes(selectedModeOfPayment.name)">
        <div class="section col-md-12">
          <label class="bank-header-color row align-items-center"> <img src="assets/icons/bank.svg" class="img-icon">
            <span class="ml-2">Bank Details</span><sup *ngIf="isRequiredField('account_number')">*</sup></label>
          <div class="row mt-2">
            <div class="col-md-6">
              <mat-label>Account No.<sup *ngIf="isRequiredField('account_number')">*</sup></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="account_number" (keypress)="utilsService.validateNumber($event)"
                       maxlength="18" minlength="7"
                       [required]="isRequiredField('account_number')">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-label>IFSC Code</mat-label>
              <mat-form-field appearance="outline">
                <input matInput oninput="this.value = this.value.toUpperCase()" maxlength="11"
                       (keyup)="getBankDetails(collectionForm.controls.ifsc_code.value)" formControlName="ifsc_code"
                       [required]="isRequiredField('ifsc_code')">
                <mat-error
                  *ngIf="((collectionForm.controls.ifsc_code.touched)&& collectionForm.controls.ifsc_code.hasError('pattern'))">
                  Please enter correct ifsc code
                </mat-error>
                <div class="position-relative" *ngIf="bankDetails.BANK">
                  <div class="bank-details" (click)="setBankDetails(bankDetails)">
                    <p><b>Bank Name:</b> {{bankDetails.BANK}}</p><br>
                    <p><b>Branch Addres:</b> {{bankDetails.ADDRESS}}</p>
                  </div>
                </div>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-label>Bank Name</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="bank_name" [required]="isRequiredField('bank_name')">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-label>Branch Name</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="branch_name"
                       [required]="isRequiredField('branch_name')">
              </mat-form-field>
            </div>
          </div>
          <div>
            <mat-label>Branch Address</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="branch_address"
                     [required]="isRequiredField('branch_address')">
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="section">
      <div class="title-color row align-items-center mb-3">
        <img src="assets/icons/donor.svg" class="img-icon">
        <span class="ml-2">Donor Details</span>
      </div>
      <div>
        <mat-label class="col-md-12">Name <sup *ngIf="isRequiredField('name')">*</sup></mat-label>
        <mat-form-field appearance="outline" class="col-md-12 mt-1">
          <input [required]="isRequiredField('name')" formControlName="name" matInput
          >
          <mat-error
            *ngIf="((collectionForm.controls['name'].touched)&& collectionForm.controls['name'].hasError('required'))">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex mt-1">
        <div class="col-md-5">
          <mat-label>Donor Phone Number</mat-label>
          <mat-form-field appearance="outline" class="mt-1">
            <input matInput minlength="10" maxlength="10" (keypress)="utilsService.validateNumber($event)"
                   formControlName="phone">
            <mat-error
              *ngIf="((collectionForm.controls['phone'].touched)&& collectionForm.controls['phone'].hasError('required'))">
              Phone number is required
            </mat-error>
            <mat-error
              *ngIf="((collectionForm.controls['phone'].touched)&& collectionForm.controls['phone'].hasError('pattern'))">
              Please enter a valid phone number
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <mat-label>Donor email</mat-label>
          <mat-form-field appearance="outline" class="mt-1">
            <input matInput type="email" formControlName="email"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$">
            <mat-error class="modal-error" *ngIf="collectionForm.controls['email'].hasError('required')">Email is
              required
            </mat-error>
            <mat-error class="modal-error" *ngIf="collectionForm.controls['email'].hasError('pattern')">Enter a valid
              email
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="section">
      <label class="heading-color row align-items-center">
        <img src="assets/icons/home.png" class="img-icon"><span class="ml-2">Residential Details</span><sup
        *ngIf="isRequiredField('house')">*</sup></label>
      <div class="col-md-12">
        <mat-label>House No. & Apartment Name</mat-label>
        <mat-form-field appearance="outline" class="mt-1">
          <input matInput formControlName="house"
                 [required]="isRequiredField('house')">
          <mat-error
            *ngIf="((collectionForm.controls.house.touched)&& collectionForm.controls.house.hasError('required'))">
            House number and Apartment Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex mt-1">
        <div class="col-md-8">
          <mat-label>Locality & Landmarks <sup *ngIf="isRequiredField('locality')" ng>*</sup></mat-label>
          <mat-form-field appearance="outline" class="mt-1">
            <input matInput formControlName="locality"

                   [required]="isRequiredField('locality')">
            <mat-error
              *ngIf="((collectionForm.controls.locality.touched)&& collectionForm.controls.locality.hasError('required'))">
              Locality is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-label>Pincode <sup *ngIf="isRequiredField('pincode')">*</sup></mat-label>
          <mat-form-field appearance="outline" class="mt-1">
            <input matInput formControlName="pincode" maxlength="6"
                   (keyup)="utilsService.validateNumber($event)"
            >
            <mat-error *ngIf="(collectionForm.controls.pincode.hasError('required'))">
              Please enter a pincode
            </mat-error>
            <mat-error *ngIf="(collectionForm.controls.pincode.hasError('pattern'))">
              Please enter a valid pincode
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex mt-1">
        <div class="col-md-4">
          <mat-label>District <sup *ngIf="isRequiredField('district')">*</sup></mat-label>
          <mat-form-field appearance="outline" class="mt-1">
            <input matInput formControlName="district" [required]="isRequiredField('district')">
            <mat-error
              *ngIf="((collectionForm.controls.district.touched)&& collectionForm.controls.district.hasError('required'))">
              District is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-label>State <sup *ngIf="isRequiredField('state')">*</sup></mat-label>
          <mat-form-field appearance="outline" class="mt-1">
            <mat-select formControlName="state" [required]="isRequiredField('state')">
              <mat-option class="arrow-hide" *ngFor="let option of states"
                          value="{{option.name}}">{{option.name}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="((collectionForm.controls.state.touched)&& collectionForm.controls.state.hasError('required'))">
              State is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="title-color row align-items-center mt-2">
        <img src="assets/icons/category.svg" class="img-icon">
        <span class="ml-2">Category & PAN Card Details<sup>*</sup></span>
      </div>
      <div class="col-md-12">
        <label class="single-label">Category <sup *ngIf="isRequiredField('category')">*</sup></label>
        <mat-radio-group formControlName="category" aria-label="category"
                         class="radio-group-container radio-group-container-margin">
          <mat-radio-button value="individual">Individual</mat-radio-button>
          <mat-radio-button value="huf">HUF</mat-radio-button>
          <mat-radio-button value="partnership">Partnership</mat-radio-button>
          <mat-radio-button value="trust">Trust</mat-radio-button>
          <mat-radio-button value="corporation">Corporation</mat-radio-button>
          <mat-radio-button value="others">Others</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="collectionForm.controls.category.value === 'others'" class="col-md-12 mb-1">
        <label class="mb-1">If Other then <sup *ngIf="isRequiredField('other_category')">*</sup></label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Please specify" formControlName="other_category"
                 [required]="isRequiredField('other_category')">
          <mat-error
            *ngIf="((collectionForm.controls['other_category'].touched)&& collectionForm.controls['other_category'].hasError('required'))">
            Please specify your category
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="this.collectionForm.controls.category.value == 'individual' " class="mb-3">
        <label class="single-label col-md-12">Is it a proprietorship? <sup
          *ngIf="isRequiredField('is_proprietorship')">*</sup></label>
        <mat-radio-group formControlName="is_proprietorship" aria-label="is_proprietorship"
                         class="col-md-12 radio-group-container-margin">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="collectionForm.controls.is_proprietorship.value === 'true'" class="mt-3">
          <mat-label class="col-md-12 mb-1">Write the name of the Proprietorship</mat-label>
          <mat-form-field appearance="outline" class="col-md-12 ">
            <input matInput formControlName="proprietorship_name" class="pb-0"
                   [required]="isRequiredField('proprietorship_name')">
            <mat-error
              *ngIf="((collectionForm.controls.proprietorship_name.touched)&& collectionForm.controls.proprietorship_name.hasError('required'))">
              Name of the Proprietorship is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <label class="col-md-12 mb-1">PAN Card Number<sup *ngIf="isRequiredField('pan_card')">*</sup></label>
      <div class="d-flex align-items-center">
        <div class="col-md-7">
          <ng-otp-input #ngOtpInput (onInputChange)="onPanCardChange($event)"
                        [config]="{length:10, containerClass: 'pan-card-container', disableAutoFocus: true}"></ng-otp-input>
        </div>
        <div class="col-md-5">

          <mat-error *ngIf="incorrectPan">
            <p class="text-error-color">Please enter a valid pan card number </p>
          </mat-error>
          <mat-error *ngIf="categoryMismatch">
            Your category selection does not match your pan card number
          </mat-error>
          <mat-error *ngIf="nameMismatch">
            Your name does not match your pan card number
          </mat-error>
        </div>

        <mat-form-field appearance="outline" hidden>
          <mat-label>PAN Card</mat-label>
          <input matInput placeholder="PAN Card" formControlName="pan_card" maxlength="10" minlength="10"
          >
          <mat-error
            *ngIf="((collectionForm.controls.pan_card.touched)&& collectionForm.controls.pan_card.hasError('required'))">
            PAN Card is required
          </mat-error>
          <mat-error
            *ngIf="(collectionForm.controls.pan_card.hasError('pattern'))">
            Please enter correct pan card number
          </mat-error>
        </mat-form-field>
      </div>
      <ng-container *ngIf="nameMismatch || categoryMismatch || incorrectPan">
        <label class="col-md-12 mb-0">Please upload Pan Card photo <sup
          *ngIf="isRequiredField('pan_card_photo')">*</sup></label>
        <div class="pan-card-image-upload-container d-flex">
          <div class="col-md-4">
            <div (click)="fileInputPhoto.click()" class="upload-pan-card-btn">
              <ng-container *ngIf="collectionForm.controls.pan_card_photo.value;else uploadPanCardText">
                <div class="position-relative">
                  <img src="assets/icons/file.svg" alt="upload file" class="choose-file-img"/>
                  <span class="file-text-position">Choosed File</span>
                  <!--                  <img src="assets/icons/upload_success_icon.svg" alt="upload pan card" class="upload-icon"/>-->
                </div>

                <!--                <img src="assets/icons/eye.svg" alt="View pan card"/>-->
              </ng-container>
              <ng-template #uploadPanCardText>
                <div class="mb-0 position-relative">
                  <img src="assets/icons/file.svg" alt="upload pan card" class="choose-file-img"/>
                  <span class="file-text-position">Choose File</span>
                </div>
              </ng-template>
              <input type="file" hidden accept="image/png, image/jpeg"
                     (change)="onFileChange($event, 'pan_card_photo')" #fileInputPhoto/>
            </div>
          </div>
          <div class="col-md-8">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Remarks if any" [formControl]="panCardRemark">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div *ngIf="collectionForm.controls.pan_card_photo.value">
            <img src="{{collectionForm.controls.pan_card_photo.value}}" height="75" width="75" class="mb-3 mt-2">
          </div>
        </div>
      </ng-container>
    </div>

    <div class="section">
      <div class="title-color row align-items-center mt-2">
        <img src="assets/icons/donation.svg" class="img-icon">
        <span class="ml-2">Donation Details <sup>*</sup></span>
      </div>
      <div class="d-flex">
        <div class="col-md-4">
          <mat-label>Amount (₹)<sup *ngIf="isRequiredField('amount')">*</sup></mat-label>

          <mat-form-field appearance="outline" class="mt-1">
            <input matInput placeholder="Please enter amount in Rupee" formControlName="amount" maxlength="13"
                   appTwoDigitDecimaNumber
                   [required]="isRequiredField('amount')">
            <mat-error
              *ngIf="((collectionForm.controls.amount.touched)&& collectionForm.controls.amount.hasError('required'))">
              Amount is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-8 margin-top-30">
          <p class="amount-in-text">{{this.amountWord.value}}</p>
        </div>
      </div>

      <!--    <mat-form-field appearance="outline" class="col-md-8" >-->
      <!--      <p><i>{{this.amountWord.value}}</i></p>-->
      <!--&lt;!&ndash;      <mat-label>Amount in words</mat-label>&ndash;&gt;-->
      <!--      <input matInput placeholder="Amount in word" [formControl]="amountWord" >-->

      <!--    </mat-form-field>-->
      <div class="col-md-12 mt-1">
        <mat-label>Narration</mat-label>
        <mat-form-field appearance="outline" class="mt-1">
          <textarea matInput maxlength="100" formControlName="narration"></textarea>
        </mat-form-field>
      </div>

    </div>

    <div class="section">
      <label class="heading-color row align-items-center">
        <img src="assets/icons/donor.svg" class="img-icon">
        <span class="ml-2">Person responsible for collecting donation </span>
        <sup *ngIf="isRequiredField('collector_name')">*</sup></label>
      <div class="d-flex">
        <div class="col-md-7">
          <div>
            <mat-label>Collector's Name</mat-label>
          </div>
          <mat-form-field appearance="outline" class="mt-1">
            <input matInput formControlName="collector_name"
                   [required]="isRequiredField('collector_name')">
            <mat-error
              *ngIf="((collectionForm.controls.collector_name.touched)&& collectionForm.controls.collector_name.hasError('required'))">
              Collector Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <div>
            <mat-label>Collector's Mobile No.</mat-label>
          </div>
          <mat-form-field appearance="outline" class="mt-1">
            <input matInput formControlName="collector_phone" maxlength="10" minlength="10"
                   [required]="isRequiredField('collector_phone')">
            <mat-error
              *ngIf="((collectionForm.controls.collector_phone.touched)&& collectionForm.controls.collector_phone.hasError('required'))">
              Collector phone number is required
            </mat-error>
            <mat-error
              *ngIf="((collectionForm.controls.collector_phone.touched)&& collectionForm.controls.collector_phone.hasError('pattern'))">
              Please enter correct phone number
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="section">
      <label class="heading-color row align-items-center"><img src="assets/icons/unit.svg" class="img-icon">
        <span class="ml-2"> Nature of Donation & Party Unit</span>
      </label>
      <div class="mb-2 col-12">
        <mat-label class=" ">Nature Of Donation</mat-label>
        <sup *ngIf="isRequiredField('nature_of_donation')">*</sup>
      </div>
      <div class="mb-2">
        <mat-radio-group formControlName="nature_of_donation" aria-label="nature_of_donation"
                         class="col-md-12 radio-group-container-margin">
          <mat-radio-button value="Voluntary Contribution" class="w-20">Voluntary Contribution</mat-radio-button>
          <mat-radio-button value="Aajivan Sahyog Nidhi." class="w-20">Aajivan Sahyog Nidhi</mat-radio-button>
          <mat-radio-button value="Other">Other</mat-radio-button>
        </mat-radio-group>
      </div>
      <ng-container *ngIf="collectionForm.controls.nature_of_donation.value === 'Other'">
        <label class="col-md-12 mt-3">If Other then <sup
          *ngIf="isRequiredField('other_nature_of_donation')">*</sup></label>
        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Please specify" formControlName="other_nature_of_donation"

                   [required]="isRequiredField('other_nature_of_donation')">
          </mat-form-field>
        </div>
      </ng-container>
      <label class="col-md-12 mt-2 ">Party Unit<sup *ngIf="isRequiredField('party_unit')">*</sup></label>
      <mat-radio-group formControlName="party_unit" aria-label="party_unit" (click)="removePartyUnitValue()"
                       class="col-md-12 radio-group-container-margin">
        <mat-radio-button *ngIf="utilsService.checkPermission('PartyUnit', 'State')" value="CountryState">State
        </mat-radio-button>
        <mat-radio-button *ngIf="utilsService.checkPermission('PartyUnit', 'Zila')" value="Zila">Zila</mat-radio-button>
        <mat-radio-button *ngIf="utilsService.checkPermission('PartyUnit', 'Mandal')" value="Mandal">Mandal
        </mat-radio-button>
      </mat-radio-group>
      <mat-error
        *ngIf="((collectionForm.controls.party_unit.touched)&& collectionForm.controls.party_unit.hasError('required'))">
        Party Unit is required
      </mat-error>

      <ng-container *ngIf="collectionForm.controls.party_unit.value === 'CountryState'">
        <div class="col-md-12 mt-3">
          <mat-label>State <sup>*</sup></mat-label>
          <br>
          <div class="col-md-6 p-0">
            <ng-select appearance="outline" class="bg-white"
                       [items]="stateUnits" bindLabel="name"
                       [required]="isRequiredField('location_id')"
                       bindValue="id" formControlName="location_id">
            </ng-select>
            <mat-error class="error-custom-sytle"
              *ngIf="((collectionForm.controls['location_id'].touched)&& collectionForm.controls['location_id'].hasError('required'))">
              Name is required
            </mat-error>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="collectionForm.controls.party_unit.value === 'Zila'">
        <div class="d-flex mt-3">
          <div class="col-md-6">
            <mat-label>State <sup>*</sup></mat-label>
            <br>
            <ng-container *ngIf="utilsService.isNationalAccountant() ||
        utilsService.isStateAccountant() ||
        utilsService.isNationalTreasurer() ||
        utilsService.isStateTreasurer()">
              <ng-select [items]="stateUnits" appearance="outline" class="bg-white"
                         bindLabel="name"
                         bindValue="id"
                         [required]="isRequiredField('location_id')"
                         [formControl]="stateControl">
              </ng-select>
              <mat-error class="error-custom-sytle"
                *ngIf="((stateControl.touched)&& stateControl.hasError('required'))">
                State is required
              </mat-error>
            </ng-container>
          </div>
          <div class="col-md-6">
            <mat-label>Zila <sup>*</sup></mat-label>
            <br>
            <ng-container>
              <ng-select [items]="zilaUnits" appearance="outline" class="bg-white"
                         bindLabel="name"
                         bindValue="id"
                         [required]="isRequiredField('location_id')"
                         formControlName="location_id">
              </ng-select>
              <mat-error class="error-custom-sytle"
                *ngIf="((collectionForm.controls.location_id.touched)&& collectionForm.controls.location_id.hasError('required'))">
                Zila is required
              </mat-error>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="collectionForm.controls.party_unit.value === 'Mandal'">
        <div class="d-flex mt-3">
          <div class="col-md-4">
            <mat-label>State <sup>*</sup></mat-label>
            <br>
            <ng-container *ngIf="utilsService.isNationalAccountant()
            || utilsService.isNationalTreasurer()
            || utilsService.isStateTreasurer()
            || utilsService.isStateAccountant()">
              <ng-select [items]="stateUnits" appearance="outline" class="bg-white"
                         bindLabel="name"
                         bindValue="id"
                         [required]="isRequiredField('location_id')"
                         [formControl]="stateControl">
              </ng-select>
              <mat-error class="error-custom-sytle"
                *ngIf="((stateControl.touched)&& stateControl.hasError('required'))">
                State is required
              </mat-error>
            </ng-container>
          </div>
          <div class="col-md-4">
            <mat-label>Zila <sup>*</sup></mat-label>
            <br>
            <ng-container *ngIf="utilsService.isNationalAccountant()
          || utilsService.isNationalTreasurer()
          || utilsService.isStateTreasurer()
          || utilsService.isStateAccountant()
          || utilsService.isZilaAccountant()">
              <ng-select [items]="zilaUnits" appearance="outline" class="bg-white"
                         bindLabel="name"
                         bindValue="id"
                         [required]="isRequiredField('location_id')"
                         [formControl]="zilaControl">
              </ng-select>
              <mat-error class="error-custom-sytle"
                *ngIf="((zilaControl.touched)&& zilaControl.hasError('required'))">
                Zila is required
              </mat-error>
            </ng-container>
          </div>
          <div class="col-md-4">
            <mat-label>Mandal <sup>*</sup></mat-label>
            <br>
            <ng-select [items]="mandalUnits" appearance="outline" class="bg-white"
                       bindLabel="name"
                       bindValue="id"
                       [required]="isRequiredField('location_id')"
                       formControlName="location_id">
            </ng-select>
            <mat-error class="error-custom-sytle"
              *ngIf="((collectionForm.controls.location_id.touched)&& collectionForm.controls.location_id.hasError('required'))">
              Mandal is required
            </mat-error>
          </div>
        </div>
      </ng-container>
      <div class="container mb-2">
        <mat-error *ngIf="!collectionForm.valid && !transactionId">
          Please fill all * mandatory fields.
        </mat-error>
      </div>
    </div>

    <div class="col-md-12 mb-3 text-center" *ngIf="!transactionId">
      <button mat-flat-button [disabled]="!collectionForm.valid ||showLoader" color="warn" (click)="submitForm()"
              class="submit-button">
        <span class="spinner-border spinner-border-sm" *ngIf="showLoader" role="status" aria-hidden="true"></span>
        <span *ngIf="showLoader" class="text-white"> Submitting</span>
        <span *ngIf="!showLoader" class="text-white">Submit</span>
      </button>

    </div>

    <div class="col-md-12 mb-3" *ngIf="transactionId">
      <button mat-flat-button [disabled]="!collectionForm.valid" color="warn"
              (click)="updateTransaction(transactionDetails.data.id)">Update
      </button>
    </div>
  </form>
</div>
