.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.radio-group-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-label {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 10px;
}

.radio-group-container-margin {
  margin-bottom: 15px;
}
