<form [formGroup]="chequeDetailForm">
  <div *ngIf="data.type === realized " >
    <mat-label>Realize date</mat-label>
    <mat-form-field appearance="outline" class="example-full-width" >
      <input matInput yn-mask-date="dd/mm/yyyy" [min]="allowMinDate" [max]="allowMaxDate"
             placeholder="Enter date"
             autocomplete="off"
             formControlName="date"
      >
      <input matInput class="d-none"  [matDatepicker]="picker" [min]="allowMinDate" [max]="allowMaxDate"
             [formControl]="matDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="((chequeDetailForm.controls.date.touched)&& chequeDetailForm.controls.date.hasError('required'))">
        Date is required
      </mat-error>
    </mat-form-field>
  </div>
  <div  *ngIf=" bounced || reversed">
    <mat-label>Add Remarks </mat-label>
    <mat-form-field class="example-full-width " appearance="outline" >
      <textarea matInput placeholder="Add remarks.." formControlName="remark" [required]="isRequiredField('remark')" class="field-height"></textarea>
      <mat-error
        *ngIf="((chequeDetailForm.controls.remark.touched)&& chequeDetailForm.controls.remark.hasError('required'))">
        Remark is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="example-full-width d-flex justify-content-between" >
    <button class="btn btn-submit" [disabled]="!chequeDetailForm.valid" (click)="updatePaymentMode()">Submit</button>
    <button class="btn btn-close"   (click)="close()">Close</button>
  </div>
</form>

